
/*********************ELEMENT*****************/

body{

	background-color: rgb(197, 142, 238);
}

h1, h3 {

	color: floralwhite;
}

hr {

	border-style: none;
	border-top: dotted;
	border-width: 5px;
	border-color: whitesmoke;
	width: 5%;
}

/*********************CLASS*****************/

.circular {
	border-radius: 100%;
}

/*********************ID*****************/